body {
    background-image: url("../media/blueBack.jpg");
    background-size: 100% auto;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

h1 {
    color: white;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 1rem;
    display: block;
}

h2 {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
}

p {
    color: white;
    font-size: 1em;
    font-weight: 400;
}

#uppdatering {
    color: AliceBlue;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

label {
    color: white;
}

input {
    width: 20rem;
    padding: 0.5rem 1rem;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: 1rem;
}

#main {
    background-color: rgba(0, 0, 0, 0.8);
    width: 50%;
    height: auto;
    border-radius: 10px;
    padding: 1rem;
    align-content: centered;
    text-align: center;
    margin: auto;
}

#saknas {
    color: MediumAquaMarine;
}

#marginal {
    color: Tomato;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    border-radius: 0.2rem;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}

button:hover {
    padding: 0.4rem 0.9rem;
    border: 0.1rem solid white;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    margin: auto;
    color: white;
    font-size: 0.8rem;
}

th,
td {
    height: 2em;
    width: 2em;
}

#tableVert,
#tableHori {
    border: 3px solid white;
}

#tableHori {
    color: MediumAquaMarine;
}

#tableVert {
    color: Tomato;
}

#current {
    text-decoration: underline;
}

.switch {
    margin-top: 10px;
    background-color: #1975bc;
    font-weight: bold;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.spacer {
    width: 2em;
}

.lang-link {
    height: min-content;
}

.lang-link img {
    height: 2em;
    aspect-ratio: 1/1;
}