body {
    background-image: url("../media/blueBack.jpg");
    background-size: 100% auto;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

h1 {
    color: white;
    font-size: 3em;
    font-weight: 800;
    display: block;
}

h2 {
    color: white;
    font-size: 2em;
    font-weight: 800;
}
.buttonTitle {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    margin: 0 1rem;
	text-align: center;
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.5em;
	padding-bottom: none;
	border: 0.15em solid rgba(0, 0, 0, 0.3);
	border-radius: 0.3em;
}
.outputText {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    margin: 0 1rem;
	text-align: center;
	display: inline-block;
}
.inputBox {
    color: white;
    font-size: 1.2em;
    font-weight: 800;
    margin: 0 1rem;
	text-align: center;
	display: inline-block;
}
p {
    color: white;
    font-size: 1em;
    font-weight: 400;
}

#uppdatering {
    color: AliceBlue;
    font-size: 1em;
    font-weight: 400;
    font-style: italic;
}

label {
    color: white;
}

input {
    width: 10rem;
    padding: 0.5rem 0.5rem;
	margin: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: 50em;
	font-family: 'Lato', sans-serif;
    font-weight: 600;
	font-size: 0.8em;
}
.result {
	color: white;
    width: auto;
    padding: 0.5rem 0.5rem;
	margin: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: 1rem;
	display: inline-block;
	text-align: center;
}
.resultText {
	color: white;
    width: auto;
    padding: 0.5rem 0.5rem;
	margin: 0.5rem;
    box-sizing: border-box;
    text-align: center;
    border: none;
    border-radius: 1rem;
	text-align: center;
}
.segment {
	width: 45%;
	height: 700px;
	display: inline-block;
	vertical-align: top;
}
.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;
  cursor: pointer;
}

#main {
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    height: auto;
    border-radius: 10px;
    padding: 1rem;
    align-content: centered;
    text-align: center;
    margin: auto;
}

#saknas {
    color: MediumAquaMarine;
}

#marginal {
    color: Tomato;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    border-radius: 0.2rem;
    color: white;
    font-weight: 600;
    padding: 0.5rem 0.5rem;
	margin-left: 3rem;
	margin-right: 3rem;
    text-align: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    border: 0.2rem solid transparent;
}

button:hover {
    border: 0.2rem solid white;
	transition: border 0.3s ease-in;
}

table,
th,
td {
    border: 1px solid white;
    border-collapse: collapse;
    margin: auto;
    color: white;
    font-size: 0.8rem;
}

th,
td {
    height: 2em;
    width: 2em;
}

#tableVert,
#tableHori {
    border: 3px solid white;
}

#tableHori {
    color: MediumAquaMarine;
}

#tableVert {
    color: Tomato;
}

#current {
    text-decoration: underline;
}

.switch {
    margin-top: 10px;
    background-color: #1975bc;
    font-weight: bold;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.spacer {
    width: 2em;
}

.lang-link {
    height: min-content;
}

.lang-link img {
    height: 2em;
    aspect-ratio: 1/1;
}